@import 'tailwindcss';

@theme {
  --color-primary: #03aed2;
  --color-secondary: #68d2e8;
  --color-secondary-10: #EFF9FC;
  --color-secondary-50: #afe7f2;
  --color-yellow: #feefad;
  --color-accent: #fdde55;
  --color-background: #f7fcfd;
  --color-text: #08171c;
  --color-text-opacity-25: #08171C40;
  --color-gradient-primary: #2980b9, #2c3e50;

  --background-image-home-cta: url('/pages/home/cta-section.png');
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background;
  }

  .container {
    margin: 0 auto;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  a,
  button {
    cursor: pointer;
  }

  .bg-gradient-primary {
    background: linear-gradient(90deg, var(--color-gradient-primary));
  }

  .text-gradient-primary {
    background: linear-gradient(90deg, var(--color-gradient-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .font-heading {
    font-family: var(--font-epilogue);
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -2%;

    @media screen and (max-width: 375px) {
      font-size: 2.4rem;
    }
  }

  .font-title_one {
    font-family: var(--font-epilogue);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2%;

    @media screen and (max-width: 375px) {
      font-size: 2.6rem;
    }
  }

  .font-title_two {
    font-family: var(--font-epilogue);
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -2%;

    @media screen and (max-width: 375px) {
      font-size: 1.7rem;
    }
  }

  .font-title_three {
    font-family: var(--font-epilogue);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -2%;

    @media screen and (max-width: 375px) {
      font-size: 1rem;
    }
  }

  .font-body_one {
    font-family: var(--font-epilogue);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .font-body_two {
    font-family: var(--font-epilogue);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .button-shadow {
    box-shadow: 0px 1px 2px rgba(20, 14, 62, 0.25), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.25), inset 0px -1px 1px 1px rgba(52, 35, 170, 0.25);
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {
    width: 13rem;
    height: 15rem;
  }

  .leaflet-popup-content:has(p) {
    margin: 15px 24px 80px 20px!important;
  }
}

@theme inline {
  --color-border: var(--border);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
