@import "tailwindcss";

:root {
  --background: oklch(0.9876 0.0055 211.0391);
  --foreground: oklch(0.1938 0.023 221.5996);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1938 0.023 221.5996);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1938 0.023 221.5996);
  --primary: oklch(0.6944 0.1258 219.7195);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.809 0.1023 213.0863);
  --secondary-foreground: oklch(0.1938 0.023 221.5996);
  --muted: oklch(0.9755 0.0113 217.5418);
  --muted-foreground: oklch(0.1938 0.023 221.5996);
  --accent: oklch(0.9023 0.1552 96.3102);
  --accent-foreground: oklch(0.1938 0.023 221.5996);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8932 0.0589 211.0063);
  --input: oklch(0.9755 0.0113 217.5418);
  --ring: oklch(0.6944 0.1258 219.7195);
  --chart-1: oklch(0.6944 0.1258 219.7195);
  --chart-2: oklch(0.809 0.1023 213.0863);
  --chart-3: oklch(0.9488 0.0851 96.8623);
  --chart-4: oklch(0.9023 0.1552 96.3102);
  --chart-5: oklch(0.1938 0.023 221.5996);
  --sidebar: oklch(0.9876 0.0055 211.0391);
  --sidebar-foreground: oklch(0.1938 0.023 221.5996);
  --sidebar-primary: oklch(0.6944 0.1258 219.7195);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9755 0.0113 217.5418);
  --sidebar-accent-foreground: oklch(0.1938 0.023 221.5996);
  --sidebar-border: oklch(0.8932 0.0589 211.0063);
  --sidebar-ring: oklch(0.6944 0.1258 219.7195);
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1938 0.023 221.5996);
  --foreground: oklch(0.9876 0.0055 211.0391);
  --card: oklch(0.274 0.025 227.1297);
  --card-foreground: oklch(0.9876 0.0055 211.0391);
  --popover: oklch(0.274 0.025 227.1297);
  --popover-foreground: oklch(0.9876 0.0055 211.0391);
  --primary: oklch(0.6944 0.1258 219.7195);
  --primary-foreground: oklch(0.9876 0.0055 211.0391);
  --secondary: oklch(0.809 0.1023 213.0863);
  --secondary-foreground: oklch(0.9876 0.0055 211.0391);
  --muted: oklch(0.2286 0.0255 227.7955);
  --muted-foreground: oklch(0.9876 0.0055 211.0391);
  --accent: oklch(0.9023 0.1552 96.3102);
  --accent-foreground: oklch(0.1938 0.023 221.5996);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2161 0.0217 222.6533);
  --input: oklch(0.2286 0.0255 227.7955);
  --ring: oklch(0.6944 0.1258 219.7195);
  --chart-1: oklch(0.6944 0.1258 219.7195);
  --chart-2: oklch(0.809 0.1023 213.0863);
  --chart-3: oklch(0.9488 0.0851 96.8623);
  --chart-4: oklch(0.9023 0.1552 96.3102);
  --chart-5: oklch(0.9876 0.0055 211.0391);
  --sidebar: oklch(0.1938 0.023 221.5996);
  --sidebar-foreground: oklch(0.9876 0.0055 211.0391);
  --sidebar-primary: oklch(0.6944 0.1258 219.7195);
  --sidebar-primary-foreground: oklch(0.1938 0.023 221.5996);
  --sidebar-accent: oklch(0.2286 0.0255 227.7955);
  --sidebar-accent-foreground: oklch(0.9876 0.0055 211.0391);
  --sidebar-border: oklch(0.2161 0.0217 222.6533);
  --sidebar-ring: oklch(0.6944 0.1258 219.7195);
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0 0 / 0.5), 0px 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow:
    0px 4px 10px 0px hsl(0 0 0 / 0.5), 0px 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0 0 / 0.5), 0px 2px 4px -1px hsl(0 0 0 / 0.5);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0 0 / 0.5), 0px 4px 6px -1px hsl(0 0 0 / 0.5);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0 0 / 0.5), 0px 8px 10px -1px hsl(0 0 0 / 0.5);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 1.25);
}

@theme {
  --color-secondary-10: #eff9fc;
  --color-secondary-50: #afe7f2;
  --color-yellow: #feefad;
  --color-text-opacity-25: #08171c40;
  --color-gradient-primary: #2980b9, #2c3e50;

  --background-image-home-cta: url("/pages/home/cta-section.png");
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background;
  }

  .container {
    margin: 0 auto;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  a,
  button {
    cursor: pointer;
  }

  .bg-gradient-primary {
    background: linear-gradient(90deg, var(--color-gradient-primary));
  }

  .text-gradient-primary {
    background: linear-gradient(90deg, var(--color-gradient-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .font-heading {
    font-family: var(--font-fraunces);
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -3%;

    @media screen and (max-width: 768px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 3rem;
    }
  }

  .font-title_one {
    font-family: var(--font-fraunces);
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -2%;

    @media screen and (max-width: 768px) {
      font-size: 2.75rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 2.5rem;
    }
  }

  .font-title_two {
    font-family: var(--font-fraunces);
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -2%;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.75rem;
    }
  }

  .font-title_three {
    font-family: var(--font-fraunces);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -1%;

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1rem;
    }
  }

  .font-body_one {
    font-family: var(--font-jakarta);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  .font-body_two {
    font-family: var(--font-jakarta);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .button-shadow {
    box-shadow:
      0px 1px 2px rgba(20, 14, 62, 0.25),
      inset 0px 1px 1px 1px rgba(255, 255, 255, 0.25),
      inset 0px -1px 1px 1px rgba(52, 35, 170, 0.25);
  }

  .swiper-pagination-bullet {
    @apply bg-secondary-50! w-2.5 h-2.5 opacity-100! transition-all duration-300;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary! w-4 h-2.5;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {
    height: 15rem;
  }

  .leaflet-popup-content:has(p) {
    margin: 15px 24px 25px 20px !important;
  }

  .leaflet-popup-close-button {
    background: var(--color-primary) !important;
    border-radius: 4px !important;
    color: var(--color-background) !important;
  }

  button.active-tv-mode:active svg {
    color: var(--color-background) !important;
  }
}

@theme inline {
  /* tweakcn/ui colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  /* --------------------------------------------------------------------- */

  --color-border: var(--border);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
